	    text {
		 font-family: 'Patrick Hand',monospace;
		  font-size: 18px;
		  font-weight: bold;
		  text-anchor: middle;
		  pointer-events: none;
		}
				
		.node path {
			fill: #ffffff;
			cursor: pointer;
			stroke: #777;
			stroke-width: 2px;
		}		
		
		path.selected {
			fill: #eee !important;
		}
		
		.selected path {
			fill: #eee !important;
		}
		
		.node path:hover {
			fill: #eee;
		}
		
		.linklabelholder path {
			opacity: 0.0;
		}
		
		.linklabel {
			font-size: 18px;
			background-color: #fff;
		}
		
		.typelabel text {
			fill: #cccccc;
		}
		
		   
		   